<div class="container-fluid">
  <header>
    <%= image_tag 'deputy_expense_logo.png' %>
    <%= link_to 'Fazer upload de um novo arquivo', new_upload_path, class: 'link-upload' %>
  </header>

  <%= render 'shared/notifications' %>

  <div class="content">
    <div class="header-table">
      <h1>Lista de deputados - RJ</h1>

      <%= form_with(url:'/deputies', method: 'get', local: true, class: 'search-form') do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag("Pesquisar") %>
        <% if params[:search].present? %>
          <%= link_to 'Limpar pesquisa', deputies_path, class: 'clear-search' %>
        <% end %>
      <% end %>
    </div>

    <table data-channel="deputy" class="table" id='deputy-table'>
      <thead>
        <tr>
          <th scopr="col">FOTO</th>
          <th scope="col">DEPUTADO</th>
          <th scope="col">PARTIDO</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody id="tbody-deputy">
        <% @deputies.each do |deputy| %>
          <%= render partial: 'deputy', locals: { deputy: deputy } %>
        <% end %>
      </tbody>
    </table>

    <% if @deputies.size == 0 %>
      <div class="message-table">
        <p>Nenhum resultado encontrado</p>
      </div>
    <% end %>

    <%= paginate @deputies, theme: 'twitter-bootstrap-4' %>
  </div>
</div>