<div class="container-fluid">
  <header>
    <%= image_tag 'deputy_expense_logo.png' %>
    <%= link_to 'Voltar', deputies_path, class: 'link-index' %>
  </header>

  <div class="div-center">
    <h1>Upload your file here:</h1>

    <div id="file_field">
      <%= form_with model: @upload do |form| %>
        <%= form.file_field :document %>
        <%= form.submit 'Upload', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>