<div class="container-fluid">
  <header>
    <%= image_tag 'deputy_expense_logo.png' %>
    <%= link_to 'Voltar para lista', deputies_path, class: 'link-index' %>
  </header>

  <section>
    <%= image_tag @deputy.photo %>
    <div class="column">
      <h6><%= @deputy.name %></h6>
      <p><%= @deputy.party.name %></p>
    </div>
  </section>

  <div class="content">
    <h1 class="expenses-header-table">Lista de despesas</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">FORNECEDOR</th>
          <th scope="col">DESCRIÇÃO</th>
          <th scope="col">VALOR LÍQUIDO</th>
          <th scope="col">DATA/EMISSÃO</th>
        </tr>
      </thead>

      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.provider.name %></td>
            <td><%= expense.description %></td>
            <td><%= number_to_currency(expense.net_value, unit: 'R$') %></td>
            <td><%= date_formatter(expense.emission_date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @expenses, theme: 'twitter-bootstrap-4' %>   
  </div>

  <div class="content">
    <div class="chart-container">
      <h4>MAIOR VALOR DE DESPESA NO MÊS</h4>
      <%= column_chart @charts.higher_expense_per_month %>
    </div>

    <div class="chart-container">
      <h4>MAIOR VALOR DE DESPESA NO ANO</h4>
      <%= column_chart @charts.higher_expense_per_year %>
    </div>

    <div class="chart-container">
      <h4>TOTAL DE DESPESAS NO MÊS</h4>
      <%= area_chart @charts.total_expense_per_month %>
    </div>

    <div class="chart-container">
      <h4>TOTAL DE DESPESAS NO ANO</h4>
      <%= column_chart @charts.total_expense_per_year %>
    </div>
  </div>
</div>